#
# .gitignore
#

## BACKUP & TEMPORARY FILES ##

*~
*.bak
*.tmp
*.swp


## OBJECT FILES & BUILD ARTIFACTS ##

*/*.a
*/obj/
bin/
libloragw/inc/config.h
libloragw/test_loragw_*
packet_forwarder/lora_pkt_fwd
util_chip_id/chip_id
util_net_downlink/net_downlink
util_boot/boot
util_spectral_scan/spectral_scan
tools/reset_lgw.sh
tools/payload_tools/payload_crc
tools/payload_tools/payload_diff
tools/payload_tools/payload_gen
tools/payload_tools/*.o
tools/systemd/lora_pkt_fwd.service.in2
tools/systemd/lora_pkt_fwd.service.out
